/* Media Queries */
@media (max-width: 1024px) {}

@media (max-width: 768px) {
    .header-i>img {
        height: 3rem;
        width: 3rem;
    }
}

@media (max-width: 640px) {
    .container {
        padding: 1.5rem;
    }
    .column-2 {
        flex-wrap: wrap;
    }
    .header-i {
            padding: 0.5rem 1.5rem;
    }
    .header-links {
        display: none;
    }

    .menu-button {
        display: block;
    }

    .mobile-header {
        display: block;
    }

    #about-image-container {
        margin-left: auto;
        margin-right: auto;
    }

    #about-image-container>img {
        height: auto;
        width: 16rem;
    }

    .company-image-container {
        display: none;
    }

    #experience-section .exp-outer, #education-section .education-outer {
        padding-left: 1.25rem;
    }

}