:root {

  --primary-900: #03045E;
  --primary-700: #0077B6;
  --primary-500: #00B4D8;
  --primary-300: #48CAE4;
  --primary-100: #90E0EF;

  --background-color: #000000;

  --text-900: #ffffff;
  --text-700: #F1F9F2;
  --text-500: #CAF0F8;

}